# **2. Python előadás**

In [27]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [28]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [29]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [30]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [31]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

In [32]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [33]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [34]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [35]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [36]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [37]:
x = 5
y = 10
print(x + y)

15

In [38]:
x = str(5)
y = "John"
print(x + y)

5John

# **Built-in Data Types**
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

In [39]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [40]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [41]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [42]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [43]:
x = True
print(type(x))

<class 'bool'>

In [44]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

# Python Numbers
There are three numeric types in Python:

int

float

complex

In [45]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [46]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [47]:
import random

print(random.randrange(1, 10))

8

In [48]:
print("Hello")
print('Hello')

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Hello
Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [49]:
a = "Hello, World!"
print(a[2])

l

In [50]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [51]:
a = "Hello,  World!"
print(len(a))

14

In [52]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [53]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [54]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [55]:
b = "Hello, World!"
print(b[2:5])

llo

In [56]:
b = "Hello, World!"
print(b[:5])

Hello

In [57]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [58]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [59]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [60]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [61]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [62]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [63]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [64]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [65]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [66]:
age = 36
txt = "My name is John, I am " + str(age)
print(txt)

My name is John, I am 36

In [67]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [68]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [69]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

\ - escape karakter speciális karakterek kiíratására<br>
<code>txt = "We are the so-called "Vikings" from the north."<\code>

In [70]:
txt = "We are the so-called \"Vikings\" from the north."

In [71]:
txt = 'It\'s alright.'
print(txt) 
txt = "This will insert one \\ (backslash)."
print(txt) 
txt = "Hello\nWorld!"
print(txt) 
txt = "Hello\rWorld!"
print(txt) 
txt = "Hello\tWorld!"
print(txt) 
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

It's alright.
This will insert one \ (backslash).
Hello
World!
World!
Hello	World!
HelloWorld!

In [72]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [73]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [74]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [75]:
#Search from position 10 to 24:

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

In [76]:
#The find() method finds the first occurrence of the specified value.

#The find() method returns -1 if the value is not found.

txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [77]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [78]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [79]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [80]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [81]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [82]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [83]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

In [84]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [85]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [86]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [87]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [88]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operator

* \+	Addition	x + y	
* \-	Subtraction	x - y	
* \*	Multiplication	x * y	
* /	Division	x / y	
* %	Modulus	x % y	
* **	Exponentiation	x ** y	
* //	Floor division	x // y

In [89]:
x = 12
y = 3

print(x / y)


x = 5
y = 2

print(x % y)

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

4.0
1
32
7

## Python értékrendelő műveletek

<table>
  <tr>
    <th>Műveletjel</th>
    <th>Megnevezés (hu)</th>
    <th>Megnevezés (en)</th>
    <th>Példa</th>
    <th>Megegyező változat</th>
  </tr>
  <tr>
    <td>=</td>
    <td>Egyenlő</td>
    <td>Equals</td>  
    <td>x = 5</td>
    <td>x = 5</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>Összeadás</td>
    <td>Addition</td>
    <td>x += 3</td>
    <td>x = x + 3</td>
  </tr>
    <tr>
    <td>-=</td>
    <td>Kivonás</td>
    <td>Subtraction</td>
    <td>x -= 3</td>
    <td>x = x - 3</td>
  </tr>
    <tr>
    <td>*=</td>
    <td>Szorzás</td>
    <td>Multiplication</td>
    <td>x *= 3</td>
    <td>x = x * 3</td>
  </tr>
    <tr>
    <td>/=</td>
    <td>Osztás</td>
    <td>Division</td>
    <td>x /= 3</td>
    <td>x = x / 3</td>
  </tr>
    <tr>
    <td>%=</td>
    <td>Moduló</td>
    <td>Modulus</td>
    <td>x %= 3</td>
    <td>x = x % 3</td>
  </tr>
    <tr>
    <td>//=</td>
    <td>Egész osztás</td>
    <td>Floor division</td>
    <td>x //= 3</td>
    <td>x = x // 3</td>
  </tr>
    <tr>
    <td>**=</td>
    <td>Exponenciálás</td>
    <td>Exponentiation</td>   
    <td>x **= 3</td>
    <td>x = x ** 3</td>
  </tr>
    <tr>
    <td>&=</td>    
    <td>Bitenkénti ÉS</td>
    <td>Bitwise AND</td>
    <td>x &= 3</td>
    <td>x = x & 3</td>
  </tr>
    <tr>
    <td>|=</td>    
    <td>Bitenkénti VAGY</td>
    <td>Bitwise OR</td>
    <td>x |= 3</td>
    <td>x = x | 3</td>
  </tr>   
</table>

## Python ciklusok

Python has two primitive loop commands:

**while** loops

**for** loops

In [90]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [91]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [92]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [93]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [94]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [95]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [96]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [97]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [98]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [99]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [100]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [101]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [102]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [103]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [104]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [105]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

indentációs hiba

<code>a = 33
b = 200
if b > a:
print("b is greater than a") <---hiba
</code>

In [106]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [107]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [108]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [109]:
if a > b: print("a is greater than b")

a is greater than b

In [110]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [111]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [112]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [113]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [114]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!